.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px;
}

.navbar {
  padding: 20px 0;
  border-bottom: solid 1px grey;
}

.nav {
  display: flex;
  gap: 20px;
}
.navLink {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navLink[aria-current='page'] {
  color: white;
  background-color: orangered;
}
